body{ background: #fff;}

#header > ul > li > a{
  color: #1a2960;
}

#nav > ul > li > a{
  color: #1a2960;
}

/*work_title style*/
.work_title{
  position: relative;
  margin-left: 250px;
  margin-top: 10%;
  display: none;
}

.work_title:first-child{
  display: block;
}

.work_title .maintitleE{
  font-size: 190px;
  height: 200px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: -3px;
  color: #1a2960;
}

.work_title .maintitleE h1{
  display: inline-block;
  line-height: 150px;
}

.work_title .maintitleB{
  font-size: 190px;
  height: 200px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: -3px;
  color: #1a2960;
}

.work_title .maintitleB h1{
  display: inline-block;
  line-height: 150px;
}

.work_title .maintitleU{
  font-size: 190px;
  height: 200px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: -3px;
  color: #1a2960;
}

.work_title .maintitleU h1{
  display: inline-block;
  line-height: 150px;
}

.work_title .maintitleW{
  font-size: 190px;
  height: 200px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: -3px;
  color: #1a2960;
}

.work_title .maintitleW h1{
  display: inline-block;
  line-height: 150px;
}

.work_title .subtitle{
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #1a2960;
  letter-spacing: 1px;

}

@keyframes flash {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.text{
  opacity: 0;
}

.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  background: #666;
  z-index: 10;
  /*animation*/
  animation: flash 0.5s none infinite alternate;
}

/*wkill_btn style*/
#skill_btn{
  margin-left: 250px;
}

#skill_btn ul {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

#skill_btn ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 70px;
  cursor: pointer;
}

#skill_btn ul li a{
  color: #1a2960;
}

#skill_btn ul li.on{
background: #1a2960;
color: #fff;
}

#skill_btn ul li:hover{
background: #1a2960;
color: #fff;
opacity: .5;
}

/*area style*/
.work_area{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /*요소의 사이즈가 줄어들때 밑으로 내려보낼수있음, 안하면 일렬로 정렬됨*/
  margin-left: 250px;
  width: calc(100% - 250px);
  box-sizing: border-box;
  background-size: cover;
}

.work_area.B,.work_area.U,.work_area.W{
  display: none;
}

.work_area .column{
  flex: 23%;
  margin: 0 2% 4% 0;
}

.work_area .column img{
  width: 100%;
  background-size: cover;
}

.work_area .column h3{
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 15px;
}
